@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}


/* منع تحديد النص */
* {
    user-select: none;
    -webkit-user-select: none; /* لأجهزة iOS */
    -ms-user-select: none; /* لمتصفحات إنترنت إكسبلورر */
}

/* منع سحب الصور */
img {
    pointer-events: none;
}



/* إزالة تأثير التركيز */
button, input, select, textarea, img, a {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-image: url('i/background.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
} 
 

#gameArea {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#score, #missedCount, #timer {
    position: fixed;
    color: white;
    font-size: 15px;
    z-index: 100;
}

#score {
    top: 10px;
    left: 10px;
}

#missedCount {
    top: 10px;
    right: 10px;
}

#timer {
    top: 40px;
    left: 10px;
}

.fallingItem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('i/coinsaw.png');
    background-size: cover;
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.5s ease;
}

.fallingItem.dead {
    transform: scale(2) rotate(360deg);
    opacity: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    animation: dot 1s infinite alternate;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dot {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.retryButton {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    z-index: 100;
    padding: 10px;
    border-radius: 10px;
}

.retryButton i {
    transform: rotate(45deg);
}

#gameArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

#score, #missedCount, #timer {
    margin: 0 15px;
}

